<ion-modal-view style="height: 80%;top: 5%;">
    <ion-header-bar class="bar-calm">

        <h1 class="title">Nuevo Usuario</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">Cancelar</button>
        </div>

    </ion-header-bar>

    <ion-content class="padding">

        <form name="usuarioForm" ng-submit="addUsuario()" >
            <div class="list">    
                <label class="item item-input">
                    <div class="input-label">
                        Nombre
                    </div>
                    <input type="text" class="ema-font" ng-model="input.name" required>
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        Apellido
                    </div>
                    <input type="text" ng-model="input.lastname" required>
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        Email
                    </div>
                    <input type="text" ng-model="input.email" required>
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        Password
                    </div>
                    <input type="password" ng-model="input.password" required>
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        DNI
                    </div>
                    <input type="text" ng-model="input.dni" >
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        Telefono Fijo
                    </div>
                    <input type="text" ng-model="input.phone">
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        Telefono Celular
                    </div>
                    <input type="text" ng-model="input.mobilephone" >
                </label>    
                <label class="item item-input item-select" ng-show="isAdmin" >
                    <div class="input-label">
                        Rol
                    </div>
                    <select ng-model="input.role_id" ng-required="isAdmin">
                        <option value="1">Administrador</option>
                        <option value="2">Vendedor</option>
                        <option value="3">Agente de transito</option>
                        <option value="4">Conductor</option>
                    </select>
                </label>
                
                <div ng-show="!isAdmin||input.role_id==4">
                    <label class="item item-input">
                        <div class="input-label">
                            Patente
                        </div>
                        <input type="text" pattern="([A-Z,a-z]{2}?[0-9]{3}?[A-Z,a-z]{2}|[A-Z,a-z]{3}?[0-9]{3})"
                                ng-model="input.patente" ng-required="!isAdmin||input.role_id==4">
                    </label>
                </div>
 
                <div ng-show="input.role_id==2">
                    <label class="item item-input">
                        <input type="text" placeholder="Razon Social" ng-model="input.business_name">
                    </label> 
                    <label class="item item-input">
                        <input type="text" placeholder="Cuit" ng-model="input.cuit">
                    </label> 
                    <label class="item item-input">
                        <input type="text" placeholder="Ubicacion" ng-model="input.location">
                    </label> 
                </div>

                <div ng-show="input.role_id==3">
                    <label class="item item-input">
                        <input type="text" placeholder="Horario desde" ng-model="input.schedule_from">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Horario Hasta" ng-model="input.schedule_to">
                    </label>

                    <!--<div ng-dropdown-multiselect="" options="example1data" selected-model="example1model" translation-texts="example5customTexts" extra-settings="example13settings"></div>-->

                </div>
      
            </div>

            <div class="padding">
                <button class="button button-block button-balanced" ng-disabled="usuarioForm.$invalid">Guardar Usuario</button>
            </div>
        </form>

    </ion-content>

</ion-modal-view>
