<ion-view title="Buscar ticket" id="page6" style="background-color:#6C9FEE;">
    <ion-content padding="true" class="has-header">
        <form id="buscarTicket-form5" class="list">
            <label class="item item-input" id="buscarTicket-input17">
                <span class="input-label">Nro de ticket</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="buscarTicket-button4" style="border-radius:14px 14px 14px 14px;" class="button button-dark  button-block">Buscar</button>
    </ion-content>
</ion-view>