<ion-view title="Cancelar ticket" id="page3" style="background-color:#6C9FEE;">
    <ion-content padding="true" class="has-header">
        
        <form name="buscarForm" ng-submit="buscarVentas()" class="list">
            <label class="item item-input" id="buscarVenta-input17">
                <span class="input-label">Patente</span>
                <input type="text" ng-model="input.patente" placeholder="">
            </label>
            <button id="buscarVenta-button4" style="border-radius:14px 14px 14px 14px;" class="button button-dark  button-block">Buscar </button>
        </form>


        <div class="row header">
          <div class="col">Estacionamiento</div>
          <div class="col">Fecha</div>
          <div class="col">Hora</div>
          <div class="col">Cantidad</div>
          <div class="col">Importe</div>
          <div class="col" style="border: none; background-color:#6C9FEE;"></div>

        </div>

        <div class="row" ng-repeat="sale in sales">
          <div class="col">{{sale.parking}}</div>
          <div class="col">{{sale.paid_date}}</div>
          <div class="col">{{sale.hours}}</div>
          <div class="col">{{sale.vendor}}</div>
          <div class="col"> $ {{sale.amount}}</div>
          <div class="col" style="border: none;">
                <button class="button button-assertive" ng-click="deleteVenta(sale.id)"> Eliminar </button>
         </div>
        
        </div>
    </ion-content>
</ion-view>