<ion-view title="Configuracion de Usuario" style="background-color:#6C9FEE;">
    
     <ion-content padding="true" has-header="true">
        <div class="list">
            <div class="item item-input-inset">
            <span class="input-label-inset">Patente: </span>
                <label class="item-input-wrapper">
                    <input type="text" ng-model="conductor.patente" disabled> 
                </label>

                <button class="button buttoneditar" ng-click="actualizar(conductor.id)">Editar</button>
            </div>  
        </div>
    </ion-content>
</ion-view>