<ion-view title="Configuracion de Usuario" style="background-color:#6C9FEE;">
    
     <ion-content padding="true" has-header="true">

        <form name="usuarioForm" ng-submit="updateConductor()">
            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Patente por defecto</span>
                    <input type="text" ng-model="input.patente" required>
                </label>

                <button class="button button-dark  button-block" ng-disabled="usuarioForm.$invalid">Guardar</button>
            </div>
        </form>

    </ion-content>
</ion-view>