<ion-view title="Liquidar ticket" id="page2" style="background-color:#6C9FEE;">
    <ion-content padding="true" class="has-header">
        <form id="liquidarTicket-form1" class="list">
            <label class="item item-input" id="liquidarTicket-input1">
                <span class="input-label">Patente</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="liquidarTicket-input2">
                <span class="input-label">Nombre y apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="liquidarTicket-input3">
                <span class="input-label">DNI</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="liquidarTicket-input4">
                <span class="input-label">Hora Inicio</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input" id="liquidarTicket-input5">
                <span class="input-label">Tiempo</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input" id="liquidarTicket-input6">
                <span class="input-label">Hora fin</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input" id="liquidarTicket-input7">
                <span class="input-label">Importe</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <button id="liquidarTicket-button1" style="border-radius:14px 14px 14px 14px;" class="button button-dark  button-block">Habilitar</button>
    </ion-content>
</ion-view>
