<ion-view title="Liquidar Ticket" style="background-color:#6C9FEE;">
    <!--<ion-header-bar class="bar-calm">

        <h1 class="title"> Liquidar Ticket</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
        </div>

    </ion-header-bar>-->

    <ion-content padding="true" has-header="true">

        <form name="ventaForm" ng-submit="addVenta()">
            <div class="list">    
                <label class="item item-input  padding-right">
                    <div class="input-label">
                        Patente
                    </div>
                    <input type="text" ng-model="input.patente" pattern="([A-Z,a-z]{2}?[0-9]{3}?[A-Z,a-z]{2}|[A-Z,a-z]{3}?[0-9]{3})" title="Ingrese una patente v&aacute;lida"  required >
                </label>

                <label class="item item-input padding-right ">
                    <div class="input-label">
                        Horas
                    </div>
                    <select ng-model="input.hours" ng-change="input.amount = input.hours * 4" required>
                        <option ng-repeat="hora in horas"
                                value="{{hora}}">
                            {{hora}}
                        </option>
                    </select>
                </label>

                <label class="item item-input padding-right">
                    <div class="input-label">
                        Importe
                    </div>
                    <!--<input type="text" ng-model="input.amount | currency" ng-readonly="true">-->
                    <span>{{input.amount | currency}}</span>
                </label>   

            </div>

            <div class="padding">
                <button class="button button-dark  button-block" ng-disabled="ventaForm.$invalid">Guardar ticket</button>
            </div>
        </form>

    </ion-content>
</ion-view>