  <ion-view view-title="Login">

    <ion-content scroll="false" style="padding-top: 200px;">
        <img src="img/logo.png" class="center" style="padding: 20px;" alt="Estacionamiento Medido Automatizado" height="200">

        <form ng-submit="doLogin()" name="loginForm" class="padding">

            <div class="list">
                <label class="item item-input">
                <input id="email" name="email" type="email"  placeholder="Your email" ng-model="login.email">
                </label>
                <label class="item item-input">
                <input id="password" name="password" type="password" placeholder="Your password" ng-model="login.password">
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-positive" type="submit"> Login </button>
            </div>

        </form>

        <div class="padding">
            <a style="cursor:pointer;" ng-click="modal.show()">Registrarme!</a>
        </div>

    </ion-content>
  </ion-view> 
