  <ion-view view-title="Login">

    <ion-content scroll="false">
        <img src="img/logo.png" class="center" style="padding: 20px;" alt="Estacionamiento Medido Automatizado" height="200">

        <form ng-submit="doLogin()" name="loginForm" class="padding">

            <div class="list">
                <label class="item item-input">
                <input id="email" name="email" type="email" placeholder="Email" ng-model="login.email" required>
                </label>

                <label class="item item-input">
                <input id="password" name="password" type="password" placeholder="Contrase&ntilde;a" ng-model="login.password" required>
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-positive" type="submit" ng-disabled="loginForm.$invalid">Iniciar Sesión</button>
            </div>

        </form>

        <div class="padding">
            <a style="cursor:pointer;" ng-click="modal.show()" >Registrarme!</a>
        </div>

    </ion-content>
  </ion-view>