<ion-view title="Mapa" >

        <!--ion-nav-bar class="bar-positive nav-title-slide-ios7"-->

        <ion-nav-buttons side="left">
            <button menu-toggle="leftbottom" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
        </ion-nav-buttons>

        <!--</ion-nav-bar>-->

        <ion-content data-tap-disabled="true">

            <!--<leaflet id="map">
                

            </leaflet>-->

            <div style="height:100%">
                <div id="map-wrapper">
                    <div id="map"></div>

                    <div id="timer-wrapper" ng-show="mostrarTimer">
                        <img src="img/cronometro.png" height="120" />
                        <h5 id="timer"></h5>
                    </div>

                    <div id="button-wrapper">
                        <button type="button" class="button button-positive" ng-click="estacionar();" ng-show="verBtnEsctacionar">Estacionar</button>
                        <button type="button" class="button button-positive" ng-click="cancelarEstacionamiento(layerPtosVentaId);" ng-show="verBtnCancelarEstacionamiento">Cancelar estacionamiento</button>
                        <button type="button" class="button button-positive" ng-click="cancelarRutaPuntoVenta();" ng-show="verBtnCancelarRutaPtoVenta">Cancelar ruta</button>
                    </div>
                </div>
            </div>

        </ion-content>

</ion-view>

