<ion-view title="Mapa" >

        <!--ion-nav-bar class="bar-positive nav-title-slide-ios7"-->

        <ion-nav-buttons side="left">
            <button menu-toggle="leftbottom" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
        </ion-nav-buttons>

        <!--</ion-nav-bar>-->

        <ion-content data-tap-disabled="true">

            <!--<leaflet id="map">
                

            </leaflet>-->

            <div style="height:100%">
                <div id="map-wrapper">
                    <div id="map"></div>
                    <div id="button-wrapper">
                        <button type="button" class="button button-assertive" ng-click="estacionar();" ng-show="mostrarBtnEsctacionar">Estacionar</button>
                        <button type="button" class="button button-assertive" ng-click="cancelarEstacionamiento(layerPtosVentaId);" ng-show="mostrarBtnCancelar">Cancelar</button>
                    </div>
                </div>
            </div>

        </ion-content>

</ion-view>

