<ion-view  id="map" title="map" >
        <!--<ion-nav-bar class="bar-positive nav-title-slide-ios7">-->

            <ion-nav-buttons side="left">
                <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
            </ion-nav-buttons>

        <!--</ion-nav-bar>-->

        <ion-content data-tap-disabled="true">

            <leaflet id="map" center="center" markers="markers" ></leaflet>

        </ion-content>

</ion-view>

