<ion-view title="Menu" class="has-header">

    <ion-nav-buttons side="left">
        <label class="">
            Bienvenido, {{usuarioLogueado.name}}
        </label>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button ng-click="logOut();" class="button">LogOut</button>
    </ion-nav-buttons>

    <ion-list>
        <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuVendedor.liquidarTicket">
            <img src="img/menuVendedor/liquidar_ticket.ico">
            <h2calm>Liquidar ticket</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item4" ui-sref="eventmenu.menuVendedor.cancelarTicket">
            <img src="img/menuVendedor/cancelar_ticket.ico">
            <h2calm>Cancelar ticket</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item5" ui-sref="eventmenu.menuVendedor.revisionVentas">
            <img src="img/menuVendedor/revision_de_ventas.ico">
            <h2calm>Revision de ventas</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item6" ui-sref="eventmenu.menuVendedor.listaPrecios">
            <img src="img/menuVendedor/lista_de_precios.ico">
            <h2calm>Lista de precios</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item7" ui-sref="eventmenu.menuVendedor.condicionesUso">
            <img src="img/terminos_y_condiciones.ico">
            <h2calm>Terminos y Condiciones</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item8" ui-sref="eventmenu.menuVendedor.preguntasFrecuentes">
            <img src="img/menuVendedor/preguntas_frecuentes.ico">
            <h2calm>Preguntas Frecuentes</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item9" ui-sref="eventmenu.menuVendedor.estadoAplicacion">
            <img src="img/menuVendedor/estado_aplicacion.ico">
            <h2calm>Estado del Servicio</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item10" ui-sref="eventmenu.menuVendedor.contactoSoporte">
            <img src="img/menuVendedor/contacto.ico">
            <h2calm>Contacto</h2calm>
        </ion-item>
    </ion-list>
</ion-view>