<ion-view title="Menu" class="has-header">
    <ion-list>
        <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAdmin.usuarios">
            <img src="img/CnAEm2RQj2BeC7kv7gAY_ticket.jpg">
            <h2calm>Usuarios</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item4" ui-sref="">
            <img src="img/mDPjp05TuWsYSQgimbpg_cancelatticket.png">
            <h2calm>Parametros generales</h2calm>
        </ion-item>
    </ion-list>
</ion-view>