<ion-view title="Menu">

    <ion-nav-buttons side="left">
        <label class="">
            Bienvenido, {{usuarioLogueado.name}}
        </label>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAgenteTransito.comprobarEstadoVehiculo">
                <img src="img/menuAgenteTransito/estado_vehiculo.png">
                <h2calm>Comprobar estado del vehiculo</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAgenteTransito.preguntasFrecuentes">
                <img src="img/preguntas_frecuentes.png">
                <h2calm>Ayuda y Preguntas Frecuentes</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAgenteTransito.condicionesUso">
                <img src="img/terminos_y_condiciones.png">
                <h2calm>Terminos y Condiciones</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAgenteTransito.estadoServicio">
                <img src="img/estado_aplicacion.png">
                <h2calm>Estado</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAgenteTransito.contactoSoporte">
                <img src="img/contacto.png">
                <h2calm>Contacto</h2calm>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>