<ion-view title="Menu" class="has-header">
    <ion-list>
        <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuAdmin.usuarios">
            <img src="img/menuAdmin/usuarios.ico">
            <h2calm>Usuarios</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item4" >
            <img src="img/menuAdmin/configuracion.ico">
            <h2calm>Configuracion</h2calm>
        </ion-item>
         <ion-item class="item-thumbnail-left calm" id="menu-list-item5" >
            <img src="img/menuAdmin/preguntas_frecuentes.ico">
            <h2calm>Ayuda y Preguntas Frecuentes</h2calm>
        </ion-item>
         <ion-item class="item-thumbnail-left calm" id="menu-list-item6" >
            <img src="img/menuAdmin/terminos_y_condiciones.ico">
            <h2calm>Terminos y Condiciones</h2calm>
        </ion-item>
         <ion-item class="item-thumbnail-left calm" id="menu-list-item7" >
            <img src="img/menuAdmin/estado_aplicacion.ico">
            <h2calm>Estado</h2calm>
        </ion-item>
</ion-view>