<ion-view title="Menu" class="has-header">

    <ion-nav-buttons side="left">
        <label class="">
            Bienvenido, {{usuarioLogueado.name}}
        </label>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button ng-click="logOut();" class="button">LogOut</button>
    </ion-nav-buttons>

    <ion-list>
        <ion-item class="item-thumbnail-left calm" ui-sref="eventmenu.menuVendedor.liquidarTicket">
            <img src="img/CnAEm2RQj2BeC7kv7gAY_ticket.jpg">
            <h2calm>Liquidar ticket</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item4" ui-sref="eventmenu.menuVendedor.cancelarTicket">
            <img src="img/mDPjp05TuWsYSQgimbpg_cancelatticket.png">
            <h2calm>Cancelar ticket</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item5" ui-sref="eventmenu.menuVendedor.revisionVentas">
            <img src="img/bYshD0rRNt9SQ5QLStAg_ventas.png">
            <h2calm>Revision de ventas</h2calm>
        </ion-item>
        <ion-item class="item-thumbnail-left calm" id="menu-list-item6" ui-sref="eventmenu.menuVendedor.listaPrecios">
            <img src="img/T54z6ITCqc8oPsZxqY7g_precio.png">
            <h2calm>Lista de precios</h2calm>
        </ion-item>
    </ion-list>
</ion-view>