<ion-view title="Preguntas Frecuentes" style="background-color:#6C9FEE;">

    <!--<ion-content padding="true" class="has-header">
        <div id="Conductor" ng-show="input.role_id==1">
			<h1>Preguntas Frecuentes</h1>
			<ion-list>
			
				<ion-item><a href="#">¿C&oacute;mo me registro en EMA?</a></ion-item>
				<ion-item><a href="#">¿Debo SI o SI estar registrado para usar EMA?</a></ion-item>
				<ion-item><a href="#">Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo puedo ver las Zonas de Estacionamiento Medido?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo veo los puntos de venta?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo selecciono un punto de venta?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo cambio de punto de venta?</a></ion-item>
				<ion-item><a href="#">Ya seleccion&eacute; un punto de venta. ¿Y ahora qu&eacute;?</a></ion-item>
				<ion-item><a href="#">¿Qu&eacute; pasa si me excedo del tiempo de pr&oacute;rroga?</a></ion-item>
				<ion-item><a href="#">Ya compr&eacute; un código de venta. ¿Y ahora qu&eacute;?</a></ion-item>
				<ion-item><a href="#">¿Qu&eacute; pasa si me excedo del tiempo l&iacute;mite de tiempo para ingresar el c&oacute;digo?</a></ion-item>
				<ion-item><a href="#">¿Puedo ingresar m&aacute;s de un c&oacute;digo a la vez?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo cancelo el tiempo de estacionamiento?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo veo el estado de mi vehículo?</a></ion-item>
				<ion-item><a href="#">¿Cu&aacute;ntos veh&iacute;culos puedo tener registrados en mi cuenta?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo puedo cambiar de veh&iacute;culo para ver sus estados?</a></ion-item>				
				<ion-item><a href="#">¿Puedo personalizar mi cuenta?</a></ion-item>
				<ion-item><a href="#">¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</a></ion-item>
			
			</ion-list>
		
			<ion-list>
				
				<ion-item><h2>¿C&oacute;mo me registro en EMA?</h2></ion-item>
				<ion-item><p>Registrarse en EMA es f&aacute;cil y totalmente gratuito. Solamente debes seleccionar la opci&oacute;n “Registrarse” en la pantalla principal de la aplicaci&oacute;n. A continuaci&oacute;n, se le solicitar&aacute;n los siguientes datos:<br><br>Nombre, Apellido, Fecha De Nacimiento, DNI, Tel&eacute;fono, Celular, una Patente (al menos), E-mail y Contrase&nacute;a.<br><br>Además que deber&aacute; aceptar los T&eacute;rminos y Condiciones que puede visualizar haciendo clic en el link.<br><br>Una vez ingresados los datos y aceptados los T&eacute;rminos y Condiciones, haga clic en “Registrarme”.</p></ion-item>
				<ion-item><h2>¿Debo SI o SI estar registrado para usar EMA?</h2></ion-item>
				<ion-item><p>S&iacute;. Los servicios de EMA &uacute;nicamente se puede usar estando registrado.</p></ion-item>
				<ion-item><h2>Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo puedo ver las Zonas de Estacionamiento Medido?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo veo los puntos de venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo selecciono un punto de venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo cambio de punto de venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>Ya seleccion&eacute; un punto de venta. ¿Y ahora qu&eacute;?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Qu&eacute; pasa si me excedo del tiempo de pr&oacute;rroga?</h2></ion-item>
				<ion-item><p>Si excede el tiempo de pr&oacute;rroga otorgado por el sistema, el estado de su veh&iacute;culo pasar&aacute; a “Infracci&oacute;n”. Ret&iacute;relo de la Zona de Estacionamiento Medido antes que un Agente de Tr&aacute;nsito pase a retirarlo.</p></ion-item>
				<ion-item><h2>Ya compr&eacute; un código de venta. ¿Y ahora qu&eacute;?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Qu&eacute; pasa si me excedo del tiempo l&iacute;mite de tiempo para ingresar el c&oacute;digo?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Puedo ingresar m&aacute;s de un c&oacute;digo a la vez?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo cancelo el tiempo de estacionamiento?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo veo el estado de mi vehículo?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Cu&aacute;ntos veh&iacute;culos puedo tener registrados en mi cuenta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo puedo cambiar de veh&iacute;culo para ver sus estados?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Puedo personalizar mi cuenta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</h2></ion-item>
				<ion-item><p></p></ion-item>
								
			</ion-list>
        </div>
        <div id="Agente de Transito" ng-show="input.role_id==2">
			
			<h1>Preguntas Frecuentes</h1>
			<ion-list>
			
				<ion-item><a href="#">Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo veo el estado de un veh&iacute;culo?</a></ion-item>
				<ion-item><a href="#">¿Cu&aacute;les son los posibles estados que puedo visualizar?</a></ion-item>
				<ion-item><a href="#">¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</a></ion-item>
			
			</ion-list>
		
			<ion-list>
				
				<ion-item><h2>Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo veo el estado de un veh&iacute;culo?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Cu&aacute;les son los posibles estados que puedo visualizar?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</h2></ion-item>
				<ion-item><p></p></ion-item>
				
			</ion-list>
			
        </div>
        <div id="Vendedor" ng-show="input.role_id==3">
			
			<h1>Preguntas Frecuentes</h1>
			<ion-list>
			
				<ion-item><a href="#">Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de alta un c&oacute;digo de pago?</a></ion-item>
				<ion-item><a href="#">¿Puedo dar de baja un c&oacute;digo de pago?</a></ion-item>
				<ion-item><a href="#">¿D&oacute;nde veo el registro de ventas del d&iacute;a?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo cierro las ventas del d&iacute;a?</a></ion-item>
				<ion-item><a href="#">¿Puedo ver un promedio de ventas?</a></ion-item>
				<ion-item><a href="#">¿Por cu&aacute;nto tiempo quedan guardados los registros de venta?</a></ion-item>
				<ion-item><a href="#">¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</a></ion-item>
			
			</ion-list>
		
			<ion-list>
				
				<ion-item><h2>Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de alta un c&oacute;digo de pago?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Puedo dar de baja un c&oacute;digo de pago?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿D&oacute;nde veo el registro de ventas del d&iacute;a?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo cierro las ventas del d&iacute;a?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Puedo ver un promedio de ventas?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Por cu&aacute;nto tiempo quedan guardados los registros de venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</h2></ion-item>
				<ion-item><p></p></ion-item>
				
				
			</ion-list>
			
        </div>
        <div id="Administrador" ng-show="input.role_id==4">
			
			<h1>Preguntas Frecuentes</h1>
			<ion-list>
			
				<ion-item><a href="#">Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de alta un “Agente de Tr&aacute;nsito”?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de alta un “Vendedor”?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo modifico uno o m&aacute;s de un campo de un Usuario?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de baja un Usuario?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de alta una “Zona de Estacionamiento Medido”?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de baja una “Zona de Estacionamiento Medido”?</a></ion-item>
				<ion-item><a href="#">¿Puedo modificar una “Zona de Estacionamiento Medido” existente?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de alta un Punto de Venta?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo modifico un Punto de Venta?</a></ion-item>
				<ion-item><a href="#">¿C&oacute;mo doy de baja un Punto de Venta?</a></ion-item>
				<ion-item><a href="#">¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</a></ion-item>
			
			</ion-list>
		
			<ion-list>
				
				<ion-item><h2>Olvid&eacute; mi contrase&nacute;a. ¿Qu&eacute; hago?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de alta un “Agente de Tr&aacute;nsito”?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de alta un “Vendedor”?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo modifico uno o m&aacute;s de un campo de un Usuario?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de baja un Usuario?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de alta una “Zona de Estacionamiento Medido”?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de baja una “Zona de Estacionamiento Medido”?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Puedo modificar una “Zona de Estacionamiento Medido” existente?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de alta un Punto de Venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo modifico un Punto de Venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿C&oacute;mo doy de baja un Punto de Venta?</h2></ion-item>
				<ion-item><p></p></ion-item>
				<ion-item><h2>¿Qu&eacute; puedo hacer en el men&uacute; "Opciones"?</h2></ion-item>
				<ion-item><p></p></ion-item>
				
			</ion-list>
        </div>
    </ion-content>-->

    <ion-content padding="true" has-header="true">

        <ion-list>
            <div ng-repeat="group in groups">
                <ion-item class="item-stable"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Pregunta {{group.name}}
                </ion-item>
                <ion-item class="item-accordion"
                          ng-show="isGroupShown(group)">
                    Respuesta {{group.respuesta}}
                </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>
