<ion-modal-view style="width: 50%; height: 75%;top: 10%;">
    <ion-header-bar class="bar-calm">
        <h1 class="title">Editar Configuracion</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="modalUpdate.hide()">Cancelar</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="configuracionForm" ng-submit="updateConfiguracion()">
            <div class="list">    
                <label class="item item-input">
                   <ion-label>{{input.key}}</ion-label>  
                   <input type="text"  name="Patente Registrada" ng-model="input.value" required>
                </label>
            </div>
            <div class="padding">
                <button  class="button button-full button-dark" ng-disabled="configuracionForm.$invalid">Guardar Cambios</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>