<ion-view title="Ventas" id="page4" style="background-color:#68B6F0;">
    <ion-content padding="true" class="has-header">
        <ion-list id="ventas-list2">
            <ion-item class="item-thumbnail-left calm" id="ventas-list-item7" ui-sref="eventmenu.menuVendedor.revisionVentas.buscarTicket">
                <img src="img/menuVendedor/buscar_ticket.png">
                <h2calm>Buscar ticket</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" id="ventas-list-item8" ui-sref="eventmenu.menuVendedor.revisionVentas.resumenDiario">
                <img src="img/menuVendedor/resumen_diario.png">
                <h2calm>Resumen diario</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" id="ventas-list-item9" ui-sref="eventmenu.menuVendedor.revisionVentas.cierreVentas">
                <img src="img/menuVendedor/cierre_de_ventas.png">
                <h2calm>Cierre de ventas</h2calm>
            </ion-item>
            <ion-item class="item-thumbnail-left calm" id="ventas-list-item10" ui-sref="eventmenu.menuVendedor.revisionVentas.totalesDiarios">
                <img src="img/menuVendedor/totales_diarios.png">
                <h2calm>Totales diarios</h2calm>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>