body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  font-family: "Verdana"
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

img.center {
    display: block;
    margin: 0 auto;
}

div.header .col {
	text-align: center;
    background-color:lightsteelblue;
    font-family: "Verdana";
    border-color: grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.col {

    border: solid 1px grey;
    border-bottom-style: solid;
    border-right-style: solid;
    font: "Verdana";
    

}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

